# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Virtual environment
final_env/
my_env/
venv/
.env/

# Environment variables
.env
.env.*



# Data folders
data/
vector_db/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# Build
dist/
build/

# Misc
*.bak
*.tmp

backend/
final_env/
my_env/
temp/
vector_db/
data/
raw/