streamlit

# Core utils
pyyaml
requests
python-dotenv

# Parsing
beautifulsoup4
lxml
python-docx
pymupdf

# Embeddings
sentence-transformers

# Vector DB
faiss-cpu
numpy

# LLM (optional)
groq
torchvision

